.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

::placeholder {
    font-family: 'Montserrat', sans-serif;
}